@import '/src/config.scss';


.contact-content{
    @include absoluteSizes;
    background: url('https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/vyiuyfhsyjzlct6lcxuw.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    color: $whiteColor;
    .contact-inner{
        width: 60%;
        margin: 0 auto;
    }
};

.title ,.contact-form{
    text-align: center;
};
.contact-form{
    padding: 20px;
    .form-control{
        margin:10px
    }
};

.send-btn{
    float: right;
};


