<div class="navbar-content">
    <div class="navbar-inner">
        <div @fade class="nav-title">
            Lorem ipsum, dolor sit amet consectetur adipisicing.
        </div>
        <div class="nav-inner">
            <div [routerLink]="['/home']" class="logo">
                <img src="https://elements-cover-images-0.imgix.net/6359eb8d-2d31-4bea-a137-92baa4b68eb2?auto=compress%2Cformat&fit=max&w=2740&s=478a3e8e28b0c42eb79183d514a9406b"
                    alt="">
            </div>
            <div @fade class="router-links">
                <button mat-button [routerLink]="['/story']">Story </button>
                <button mat-button [matMenuTriggerFor]="menu">Menus</button>
                <mat-menu #menu="matMenu">
                    <div class="product-menu">
                        <button mat-menu-item [routerLink]="['/menu']">Menu</button>
                        <button mat-menu-item [routerLink]="['/special-dish']">Special Dish</button>
                    </div>
                </mat-menu>
                <button mat-button [routerLink]="['/events']">Private Event </button>
                <button mat-button (click)="openReserve()">Reserve</button>
                <button mat-button [routerLink]="['/order']">Order Online </button>

                <button *ngIf="adminPanel" mat-button [matMenuTriggerFor]="admin">Admin</button>
                <mat-menu #admin="matMenu">
                    <div class="product-menu">
                        <button mat-menu-item [routerLink]="['/admin-reservation']">Table Bookings</button>
                        <button mat-menu-item [routerLink]="['/admin-event']">Event Bookings</button>
                        <button mat-menu-item [routerLink]="['/admin-order']">Online Orders</button>
                        <button mat-menu-item [routerLink]="['/admin-product']">Other changes</button>
                    </div>
                </mat-menu>

                <ng-container [ngSwitch]="authStatusIsLoggedin">
                    <ng-container *ngSwitchCase="true">
                        <i style="margin-right:10px;cursor:pointer;" [matMenuTriggerFor]="userProfile"
                            class="fa-solid fa-user"></i>
                        <mat-menu #userProfile="matMenu">
                            <div class="product-menu">
                                <button mat-menu-item [routerLink]="['user-profile/my-reservation']">My Reservations</button>
                                <button style="width: 100%" (click)="openDialog()" id="login" mat-stroked-button
                                    color="primary">
                                    {{"Logout"}}<span class="material-icons">{{"logout"}}</span>
                                </button>
                            </div>
                        </mat-menu>
                    </ng-container>
                    <ng-container *ngSwitchCase="false">
                        <button (click)="openDialog()" id="login" mat-stroked-button color="primary">
                            {{'Login'}} <span class="material-icons">{{"login"}}</span>
                        </button>
                    </ng-container>
                </ng-container>

            </div>
        </div>
    </div>
</div>