.nav-title {
    background-color: rgb(171, 155, 86);
    color: white;
    padding: 5px;
    text-align: center;


}

.nav-inner {
    display: flex;


}

.logo {
    height: 100px;
    width: 200px;

}

.logo img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}
.router-links{
    margin-left: auto;
    order: 2;
    padding: 30px;
}

.navbar-inner{
    
    position: sticky;
    top: 0;
}