<div class="category-content">
    <mat-icon style="cursor:pointer" class="back-to-signin" [routerLink]="['/order']">
        keyboard_return
    </mat-icon>
    <div class="category-inner">
        <div *ngFor="let dish of (dishList$|async);let i =index" class="dish-list"
        >
            <img [src]="dish.file">
            {{dish.category}}
            {{dish.name}}
            {{dish.price}} ₾
            <span>
                <mat-icon (click)="addDishToCart(dish)" style="cursor:pointer;float:right">
                    add
                </mat-icon>
                <!-- <i (click)="decriceDish(i)" style="cursor:pointer;float:right" class='fas fa-minus'>
                </i> -->
            </span>
        </div>
    </div>
</div>