<div class="category-content">
    <mat-icon style="cursor:pointer" class="back-to-signin" [routerLink]="['/order']">
        keyboard_return
    </mat-icon>
    <div class="category-inner">
        <div class="dish-list" *ngFor="let dish of (dishList$|async);let i =index">
            <img [src]="dish.file" (click)="dishDescription(dish)">
            {{dish.category}}
            {{dish.name}}
            {{dish.price|currency:'USD'}}
            <span>
                <mat-icon (click)="addDishToCart(dish)" style="cursor:pointer;float:right">
                    add
                </mat-icon>

            </span>
        </div>
    </div>
</div>