.reservation-content {
    width: 100%;
    height: 100%;
   
}

.reservation-inner {
    margin: 0 auto;

}

/* form {
    text-align: center;
} */

.form-control {
    width: 300px;
    margin-top: 10px;
}

.fintTableBtn {
    margin-top: 10px;
    float: right;

}

.date-manu {
    cursor: pointer;
    position: absolute;
    color: rgb(197, 203, 197);
}

.timeMode {
    color: red
}

.timeSelect {
    display: flex;
    justify-content: center;

}
.guest-table-content{
    overflow: scroll;
}
.timeSelect .form-control {
    margin-left: 5px;
}

.time-content {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;

}
.time-inner{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


.time-div div {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
}



.reserved{
    background-color: red;
    margin-left: 10px;
    border-radius: 5px;
}
.available{
    background-color: rgb(117, 218, 112);
    margin-left: 10px;
    border-radius: 5px;
}

.available:hover{
    background-color: rgb(197, 62, 193);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.cancelation-content,.about-content{
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid rgb(212, 212, 212);

    
}
.cancelation-title,.about-title,.reservation-details-title{
    width: 30%;
    font-weight: bold;
}
.cancelation-text,.about-text{
    width: 60%;
}
.reservation-details-content{
    border-bottom: 1px solid rgb(212, 212, 212);
}


.reserveBtn{
    margin-top: 20px;
    float: right;
}

