<div class="admin-content">
    <mat-spinner class="loader-spinner" *ngIf="loaderSpin"></mat-spinner>
    <div @fade class="admin-inner">
        <h3 class="list-title">Private Dining List</h3>
        <div class="admin-list-content" *ngIf="myReservations$">
            <div class="admin-list-inner" *ngFor="let reserve of (myReservations$|async)">
                <div class="personal-info">
                    <h3>Personal Info</h3>
                    <div>
                        Mail: {{reserve.customer.customer}}
                    </div>
                </div>
                <div class="event-Info">
                    <h3>My Reservation Info</h3>
                    <div>
                        Start Date: {{reserve.date.day}}
                        {{reserve.date.month}}
                        {{reserve.date.year}}

                    </div>
                    <div>
                        Start Time {{reserve.time}}
                    </div>
                    <div>
                        Place: {{reserve.place}}
                    </div>
                </div>

                <button (click)="cancelTableBooking(reserve.key,reserve.deleteKey)" class="cancelBtn" type="submit"
                    mat-raised-button color="warn">Cancel Reservation</button>
            </div>
        </div>
    </div>
</div>