@import '/src/config.scss';
.admin-event-content {
   @include absoluteSizes;
   .dining-list-inner {
    display: flex;
    background-color: $whiteColor;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
}



.dining-list {
    width: 70%;
}

.customerInfo{
    width: 30%;
}
.eventInfo{
    width: 25%;

}

.cancelBtn{
    float: right;
    cursor: pointer;
    height: 50px;
}


.eventInfo img{
    height: 100%;
    width: 25%;
    object-fit: cover;
    border-radius: 5px;
}