<div class="admin-content">
    <div @fade class="admin-inner">
        <mat-spinner class="loader-spinner" *ngIf="loader.isLoading|async"></mat-spinner>
        <h3 class="list-title">Private Dining List</h3>
        <div class="admin-list-content" *ngIf="orderList$">
            <div class="admin-list-inner" *ngFor="let order of (orderList$|async)">
                <div class="personal-info">
                    <h3>Personal Info</h3>
                    <div>
                        Name: {{order.customerName}}
                    </div>
                </div>
                <div class="event-Info" *ngFor="let orders of order.orderList">
                    <h3>Dish Info</h3>
                    <div class="order-image">
                        <img [src]="orders.file">
                    </div>
                    <div>
                        Dish Name {{orders.name}}

                    </div>
                    <div>
                        Dish Price {{orders.price}}
                    </div>
                </div>
                <mat-icon class="cancel-icon" (click)="cancelOnlineOrder(order.key)"> cancel</mat-icon>
            </div>
        </div>


    </div>
</div>