@import '/src/config.scss';

.order-content {
    @include absoluteSizes;
    .order-inner {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .order-list {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            text-align: center;
            padding: 10px;
            img {
                @include absoluteSizes;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}