<div class="admin-content">
    <mat-spinner class="loader-spinner" *ngIf="loader.isLoading|async"></mat-spinner>
    <div @fade class="admin-inner">
        <h3 class="list-title">Customer Message List </h3>
        <div *ngIf="customerMessage$" class="admin-list-content">
            <div class="admin-list-inner" *ngFor="let message of (customerMessage$|async)">
                <div class="personal-info">
                    <h3>Personal Info</h3>
                    <div>
                        Customer Email:{{message.email}}
                    </div>
                    <div>
                        Full name {{message.fullName}}
                    </div>
                    <div>
                        Phone {{message.phoneNumber}}
                    </div>
                </div>

                <div class="event-Info">
                    <h3>Message:</h3>
                    <div>
                        {{message.message}}
                    </div>
                </div>
                <mat-icon (click)="deleteMessage(message.key)">cancel</mat-icon>
            </div>

        </div>
    </div>
</div>