<div class="product-content">
    <div [ngSwitch]="viewMode" class="product-inner">

<!-- add employee -->
        <form @menu class="employee-form" *ngSwitchCase="'form'" (ngSubmit)="addEmployee(employeeForm)"
            #employeeForm="ngForm">
            Add Employee <i  (click)="viewMode='menuForm'" 
                         class="fa-solid fa-angles-right"></i>
            
            <i (click)="viewMode='colosedForm'" class="fa-solid fa-angle-left"></i>
            <div>
                <label>
                    <input [(ngModel)]="employee.name" 
                           name="employeeName" 
                           #employeeName="ngModel" 
                           placeholder="Name"
                           type="text" class="form-control">
                </label>
            </div>
            <div>
                <label>
                    <input [(ngModel)]="employee.surname" 
                           name="employeeSurname" 
                           #employeeSurname="ngModel"
                           placeholder="Surname" 
                           type="text" class="form-control">
                </label>
            </div>
            <div>
                <label>
                    <input [(ngModel)]="employee.position" 
                           name="employeePosition" 
                           #employeePosition="ngModel"
                        placeholder="Position" type="text" class="form-control">
                </label>
            </div>
            <div class="image-content">
                <img [src]="imgURL">
            </div>
            <div>
                <label>
                    <input [(ngModel)]="employee.file" 
                           (change)="showPreview($event)" 
                           accept="image/*"
                           name="employeeImage" 
                           #employeeImage="ngModel" 
                           type="file" class="form-control">
                </label>
            </div>
            <textarea [(ngModel)]="employee.description" 
                      placeholder="Working Experience" 
                      name="employeeDescription"
                      #employeeDescription="ngModel" 
                      cols="30" rows="5">
            </textarea>
            <button class="employeeBtn" type="submit" mat-raised-button color="primary">Add Employee</button>
        </form>

        <div @menu *ngSwitchCase="'colosedForm'" class="closedEmployeeForm">
            <i (click)="viewMode='form'" class="fa-solid fa-angle-right"></i>
            <div>
                <!-- <i class="fa-solid fa-people-roof"></i> -->
            </div>
        </div>

    
<!--add menu -->
        <form @menu class="employee-form" *ngSwitchCase="'menuForm'" 
             (ngSubmit)="addMenu(menuForm)"
              #menuForm="ngForm">
         Add Menu
         <i  (click)="viewMode='form'" class="fa-solid fa-angles-left"></i>
         <i  (click)="viewMode='timeForm'" class="fa-solid fa-angles-right"></i>
        <i (click)="viewMode='colosedForm'" class="fa-solid fa-angle-left"></i>
     
        <div>
            <label>
                <input [(ngModel)]="menu.name" 
                       name="name" 
                       #menuName="ngModel" 
                       type="text" 
                       class="form-control"
                       placeholder="Menu Name"
                       >
            </label>
        </div>
        <div>
            <label>
                <input [(ngModel)]="menu.file" 
                       (change)="showPreview($event)" 
                       accept="PDF/*"
                       name="menu" 
                       #mainMenu="ngModel" 
                       type="file" 
                       class="form-control">
            </label>
        </div>
      
        <button class="employeeBtn" type="submit" mat-raised-button color="primary">Add Menu</button>
        </form>

        <!-- add time -->
        <form @menu class="employee-form" *ngSwitchCase="'timeForm'" 
         (ngSubmit)="addTime(timeForm)"
         #timeForm="ngForm">
     Add Time
    <i  (click)="viewMode='menuForm'" class="fa-solid fa-angles-left"></i>
    <i (click)="viewMode='colosedForm'" class="fa-solid fa-angle-left"></i>

    <div>
        <label>
            <input [(ngModel)]="guestTime.time" 
                   required 
                   pattern="^[0-9]+:[0-9]{2}$"
                   name="time" 
                   class="form-control"
                   placeholder="time e.g: 17:00"
                   #time="ngModel" >
        </label>
        <div class="text-danger f-12 m-t-8" *ngIf="timeForm.submitted&&time.errors?.['required']">
            Required
        </div>
        <div class="text-danger f-12 m-t-8" *ngIf="timeForm.submitted&&time.errors?.['pattern']">
            Wrong format
        </div>
    </div>
    <div>
        <label>
            <input [(ngModel)]="guestTime.place" 
            required 
            name="place" 
            class="form-control"
            placeholder="place"
            #place="ngModel" >
        </label>
        <div class="text-danger f-12 m-t-8" *ngIf="timeForm.submitted&&place.errors?.['required']">
            Required
        </div>
    </div>
    <div>
        <label >
        <input [(ngModel)]="guestTime.date" 
               required name="date" 
               style="cursor:pointer" 
               class="form-control"
               #date="ngModel" 
               placeholder="yyyy-mm-dd" 
               ngbDatepicker #d="ngbDatepicker" 
               (click)="d.toggle()">
            </label>
            <div class="text-danger f-12 m-t-8" *ngIf="timeForm.submitted&&date.errors?.['required']">
                Required
            </div>
    </div>
 
   <button class="employeeBtn" type="submit" mat-raised-button color="primary">Add Time</button>
       </form>

        <div @fade class="employee-inner" [ngSwitch]="viewMode">
            <div *ngSwitchCase="'form'" >
                <h3>Employee List</h3>
                <div *ngIf="employeeList$" class="employee-list">
                    <div class="employee-list-inner" *ngFor="let employee of ( employeeList$|async)">
                        <div class="employeeInfo">
                            <!-- <h3>Personal Info</h3> -->
                            <div class="employeeImage">
                                <img [src]="employee.file">
                            </div>
    
                        </div>
                        <div class="employee-personal-info">
                            <h3>Personal Info</h3>
                            <div>
                                Full name:{{employee.name}} {{employee.surname}}
                            </div>
                            <div>
                                Email# {{employee.position}}
                            </div>
    
                        </div>
    
    
                        <mat-icon style="float:right;cursor:pointer;opacity:0.8;" (click)="deleteEmployee(employee.key)">
                            delete</mat-icon>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'menuForm'" >
                 menu list
            </div>
            <div *ngSwitchCase="'timeForm'" >
                 Time list
            </div>
         
        </div>


 

    </div>
    




</div>