@import '/src/config.scss';

.admin-content{
    @include absoluteSizes;

    .admin-inner{
        width: 100%;
        height: 100%;
        display: flex;
        .employee-form{
            label,textarea{
                width: 100%;
                margin-top: 10px;
            }
        }
    }
};



.image-content {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
};


.employee-form {
    background-color: $whiteColor;
    padding: 10px;
    width: 20%;
}
.closedEmployeeForm{
    width: 30px;
    background-color: $whiteColor;
    padding: 10px;
    height: 100%;
};

.fa-angle-left,.fa-angle-right {
    float: right;
    cursor: pointer;
    align-items: center;
    margin: 0 auto;
    text-align: center;
};
.fa-angles-right,.fa-angles-left{
    margin-left: 10px;
    cursor: pointer;
};


.employee-inner{
    overflow: auto;
    width: 75%;
    padding: 10px;
    div{
        .employee-list{
            .employee-list-inner {
                display: flex;
                background-color: $whiteColor;
                border-radius: 5px;
                padding: 10px;
                margin-top: 10px;
                .employeeInfo{
                    .employeeImage{
                        width: 100px;
                        height: 100px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .employee-personal-info{
                    padding: 10px;
                    width: 90%;
                }
            }
        }
    }
};
.employeeBtn{
    margin-top: 5px;
}
