<div class="reserve-input-content">
    <mat-icon mat-dialog-close style="float: right;cursor: pointer;" aria-hidden="false" fontIcon="close">
    </mat-icon>
    <div>
        <div>
            {{reservation.status?'avalable':'reserved'}}
        </div>
        <div>
           place: {{reservation.place}}

        </div>
        <div>
          time: {{reservation.time}}

        </div>

      date: {{reservation.date?.day}} {{reservation.date?.month}} {{reservation.date?.year}}

    </div>

    <form (ngSubmit)='addReserve(reserveForm)' #reserveForm="ngForm">
        <div>
            <label for="">
                <input [(ngModel)]="reservation.fullName"
                required
                name="fullName"
                #fullName="ngModel"
                class="form-control" type="text"
                placeholder="Full name">
            </label>
            <div  class="text-danger f-12 m-t-8" *ngIf="reserveForm.submitted&&fullName.errors?.['required']">
                Required
            </div>
        </div>
        <div>
            <label for="">
                <input  [(ngModel)]="reservation.phone"
                required
                name="phone"
                #phone="ngModel"
                class="form-control" 
                type="text"
                placeholder="Phone"
                
                >

            </label>
            <div  class="text-danger f-12 m-t-8" *ngIf="reserveForm.submitted&&phone.errors?.['required']">
                Required
            </div>
        </div>
        <div>
            <label for="">
                <input [(ngModel)]="reservation.email"
                required
                name="email"
                #email="ngModel"
                placeholder="Email"
                class="form-control" type="text"
                >

            </label>
            <div  class="text-danger f-12 m-t-8" *ngIf="reserveForm.submitted&&email.errors?.['required']">
                Required
            </div>
        </div>
        <button class="menu-btn" mat-flat-button color="primary">
            save reserve
        </button>
    </form>

</div>