<div class="login-content">
    <form *ngIf="authorizationModal" (ngSubmit)="userSignIn(signInForm)" #signInForm="ngForm">
        <h2 mat-dialog-title>Authorization
            <button style="float:right;" mat-button mat-dialog-close>Close</button>
        </h2>
        <input [(ngModel)]="auth.email"
               #userEmail="ngModel" 
               name="userEmail"
               required
               pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
               [class.borderError]="signInForm.submitted&&userEmail.errors?.['pattern']" class="form-control"
               placeholder="Email" autocomplete="off" type="text">

        <div class="text-danger f-12 m-t-8" *ngIf="signInForm.submitted&&userEmail.errors?.['required']">
            required
        </div>
        <div class="text-danger f-12 m-t-8" *ngIf="signInForm.submitted&&userEmail.errors?.['pattern']">
            wrong format
        </div>
        <input [(ngModel)]="auth.password" 
               name="password" 
               required 
               minlength="6" type="password"
               #userPassword="ngModel" style="margin-top:10px"
               [class.borderError]="signInForm.submitted&&userPassword.errors?.['pattern']" class="form-control"
               placeholder="Password" autocomplete="off">

        <div class="text-danger f-12 m-t-8" *ngIf="signInForm.submitted&&userPassword.errors?.['required']">
            required
        </div>
        <div class="text-danger f-12 m-t-8" *ngIf="signInForm.submitted&&userPassword.errors?.['required']">
            min digits is 6
        </div>


        <div (click)="authorizationModal=false;registrationModal=true" style="cursor:pointer;margin-top: 5px;"
            mat-dialog-content>Register</div>
        <button type="submit" class="enterBtn" mat-raised-button color="primary">Enter</button>



    </form>


    <form *ngIf="registrationModal" (ngSubmit)="userSignUp(registrationForm)" #registrationForm="ngForm">
        <div style="display: flex;">
            <mat-icon (click)="registrationModal=false;authorizationModal=true" class="back-to-signin">keyboard_return
            </mat-icon>
            <h2 style="margin:0 auto;" mat-dialog-title>registration</h2>
        </div>
        <div class="registration-content">
            <div class="personal-info">
                <input [(ngModel)]="signupModel.username"  
                       required
                       #userName="ngModel" 
                       name="username" class="form-control"
                       [class.borderError]="registrationForm.submitted&&userEmail.errors?.['required']"
                       placeholder="Username" autocomplete="off" type="text">

                <div class="text-danger f-12 m-t-8" *ngIf="registrationForm.submitted&&userName.errors?.['required']">
                    required
                </div>
                <input [(ngModel)]="signupModel.email" 
                       required 
                       pattern="^[a-z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"
                       #userEmail="ngModel" name="userEmail" class="form-control"
                       [class.borderError]="registrationForm.submitted&&(userEmail.errors?.['required']||userEmail.errors?.['pattern'])"
                       placeholder="Email" autocomplete="off" type="text">

                <div *ngIf="registrationForm.submitted">
                    <div class="text-danger f-12 m-t-8" *ngIf="userEmail.errors?.['required']">
                        required
                    </div>
                    <div class="text-danger f-12 m-t-8"
                        *ngIf="registrationForm.submitted&&userEmail.errors?.['pattern']">
                        wrong format
                    </div>
                </div>

                <input [(ngModel)]="signupModel.pass"  required #userPass="ngModel"
                    name="userEmail" class="form-control"
                    [class.borderError]="registrationForm.submitted&&(userPass.errors?.['required']||userPass.errors?.['minlength'])"
                    placeholder="pass" autocomplete="off" type="text">
                <div *ngIf="registrationForm.submitted">
                    <div *ngIf="signupModel.pass?.length<6" class="text-danger f-12 m-t-8">
                        min digits is 6
                    </div>
                    <div *ngIf="userPass.errors?.['required']" class="text-danger f-12 m-t-8">
                        required
                    </div>

                </div>
            </div>

            <div class="personal-info-v2">
                <input [(ngModel)]="signupModel.surename"  required
                    #userSurename="ngModel" name="surename" class="form-control" placeholder="Surename"
                    [class.borderError]="registrationForm.submitted&&userEmail.errors?.['required']" autocomplete="off"
                    type="text">
                <div class="text-danger f-12 m-t-8"
                    *ngIf="registrationForm.submitted&&userSurename.errors?.['required']">
                    required
                </div>

                <div class="birthday-content">
                    <input class="birthDay" 
                           class="form-control" 
                           id="birthDay" 
                           required [(ngModel)]="signupModel.age"
                           placeholder="Age" #userAge='ngModel' name="user-birthDay" 
                        [class.borderError]="registrationForm.submitted&&userEmail.errors?.['required']"
                      >

                    <!-- <mat-icon class="birth-date-manu" (click)="d.toggle()">menu</mat-icon> -->

                </div>
                <div class="text-danger f-12 m-t-8" *ngIf="registrationForm.submitted&&userAge.errors?.['required']">
                    required
                </div>
            </div>
        </div>

        <button type="submit" class="enterBtn" mat-raised-button color="primary">Sign Up</button>
    </form>



    <!-- <form *ngIf="confirmAuthModal" (ngSubmit)="confirmAuth(confirmAuthForm)" #confirmAuthForm="ngForm">
 
                  
                     <div>
                   <h3 style="text-align: center;">{{"confirmEmail"|translate}}</h3>
                   {{"confirmText"|translate}}  {{registration.email}}
                     </div>
                 

        </form>


        <div *ngIf="Emailconfirmed">
         დადასტურებულია
        </div>  -->


</div>