<div class="admin-content">
    <mat-spinner class="loader-spinner" *ngIf="loader.isLoading|async"></mat-spinner>
        <div @fade class="tableReserve-inner">
            <h3>Table Reservation List</h3>
            <div *ngIf="tableReservations$" class="tableReserve-list">
                <div class="tableReserve-list-inner" *ngFor="let table of (tableReservations$|async)">
                    <div class="customerInfo">
                        <h3>Personal Info</h3>
                        <div>
                            Customer Email:{{table.customer.customer}}
                        </div>
                        <div>
                            Marketing {{table.customer.marketing}}
                        </div>
                    </div>

                    <div class="eventInfo">
                        <h3>Event Info</h3>
                        <div>
                            Place: {{table.place}}
                        </div>
                        <div>
                            Date: {{table.date|json}}
                        </div>
                        <div>
                            Start Time: {{table.time}} PM
                        </div>


                    </div>

                    <div>
                        <!-- price <span>{{i.price}}</span> -->
                    </div>
                    <mat-icon style="float:right;cursor:pointer;opacity:0.8;"
                        (click)="cancelTableBooking(table.key,table.deleteKey)">delete</mat-icon>
                </div>

            </div>
        </div>
</div>