<div class="story-content">
    <div class="story-inner">
        <div class="description-content">
            <div class="description-inner">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi est deleniti dignissimos
                    ratione
                    laborum odit consequuntur hic unde natus, eum, nulla numquam enim suscipit totam deserunt? Non, ad.
                    Veniam
                    totam possimus qui neque suscipit nesciunt ipsam voluptatibus.</p>

                <p>Aspernatur distinctio blanditiis, nesciunt
                    perspiciatis ipsa eum consequuntur rem laborum voluptatem ipsam cum, illo beatae expedita a rerum
                    optio
                    ea
                    ipsum in? Illo qui est placeat odit incidunt facilis, modi rem quas. Impedit eaque deserunt dolorem
                    tenetur,
                    necessitatibus eligendi numquam esse ut perferendis. Laudantium voluptatum nemo voluptas incidunt
                    reprehenderit magni dolor provident laboriosam recusandae, dolore cupiditate quasi earum alias
                    mollitia,
                    nisi fuga. Debitis unde mollitia facere dicta enim voluptatem autem quam corporis? Ab, voluptates
                    nostrum,
                </p>
                <p> fugiat, porro in iusto voluptatem repellat nemo quis veniam sapiente enim ipsa! Aliquam cupiditate
                    molestiae
                    consectetur officiis
                </p>


            </div>
        </div>
 
        
        <h1 style="text-align: center">Our Team</h1>
  
        <div  class="team-content">
            <div @fade @show class="team-inner">
                <div class="team-member">
                    <img src="https://thumbs.dreamstime.com/b/female-restaurant-owner-digital-tablet-portrait-smiling-coffee-shop-standing-inside-her-116631151.jpg"
                        alt="">
                    saxeli gvari
                    <div>
                        pozicia
                    </div>

                </div>
                <div class="team-member">
                    <img src="https://thumbs.dreamstime.com/b/female-restaurant-owner-digital-tablet-portrait-smiling-coffee-shop-standing-inside-her-116631151.jpg"
                        alt="">
                    saxeli gvari
                    pozicia
                </div>
                <div class="team-member">
                    <img src="https://thumbs.dreamstime.com/b/female-restaurant-owner-digital-tablet-portrait-smiling-coffee-shop-standing-inside-her-116631151.jpg"
                        alt="">
                    saxeli gvari
                    pozicia
                </div>
            </div>
        </div>
    </div>




</div>