@import '/src/config.scss';

.private-event-content {
   @include absoluteSizes;
   .form-title{
    text-align:center;
   }
   .event-fotos {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    .event-table {
        width: 450px;
        height: 350px;
        padding: 10px;
        img {
            @include absoluteSizes;
            object-fit: cover;
        }
    }
    }
    .event-description {
        width: 60%;
        margin: 0 auto;
    }
     .private-event-inner {
        width: 100%;
        display: flex;
        justify-content: center;
        .event-form {
            width: 50%;
            padding: 20px;
            form{
                .personal-info {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    div{
                        width: 100%;
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
        }
      
}






textarea {
    width: 100%;
    margin-top: 10px;
}

.form-control {
    margin-top: 10px;
}

.form-blok-1 {
    padding: 0px 5px 0px 0px;

}

.form-block-2 {
    padding: 0px 0px 0px 5px;
}

.sendBtn {
    float: right;
}








