<div class="private-event-content">
    <div class="private-event-inner">
        <div class="event-form">
            <form (ngSubmit)="submitPrivateEvent(privateDinerForm)" #privateDinerForm="ngForm">
                <div class="personalInfo">
                    <div class="first">
                    <input [(ngModel)]="privateDiningModel.firstName"
                       required
                       name="firstname"
                       #firstname="ngModel"
                       class="form-control" type="text"
                       placeholder="firstname"
                       autocomplete="off"
                       >
                       <div class="text-danger f-12 m-t-8" *ngIf="privateDinerForm.submitted&&firstname.errors?.['required']">
                        Required
                       </div>
              
                    <input [(ngModel)]="privateDiningModel.phoneNumber" 
                       required
                       name="phoneNumber"
                       #phoneNumber="ngModel"
                       placeholder="phone"
                       autocomplete="off"
                       class="form-control" type="text">
                       <div class="text-danger f-12 m-t-8" *ngIf="privateDinerForm.submitted&&phoneNumber.errors?.['required']">
                        Required
                       </div>

                       <input [(ngModel)]="privateDiningModel.eventDate" 
                       required
                       name="eventDate"
                       #eventDate="ngModel"
                       placeholder="yyyy-mm-dd" 
                       ngbDatepicker 
                       #d="ngbDatepicker"
                       style="cursor: pointer"
                       class="form-control"
                       (click)="d.toggle()"
                       >
                       <div class="text-danger f-12 m-t-8" *ngIf="privateDinerForm.submitted&&eventDate.errors?.['required']">
                        Required
                       </div>
                 </div>
                    <div class="second">
               
                    <input [(ngModel)]="privateDiningModel.surname"
                       required
                       name="surname"
                       #surname="ngModel"
                       class="form-control" type="text"
                       placeholder="surname"
                       autocomplete="off"
                       >
                       <div class="text-danger f-12 m-t-8" *ngIf="privateDinerForm.submitted&&surname.errors?.['required']">
                        Required
                       </div>
                     <input [(ngModel)]="privateDiningModel.email" 
                       required
                       name="email"
                       #email="ngModel"
                       class="form-control" type="text"
                       placeholder="email"
                       autocomplete="off"
                       >
                       <div class="text-danger f-12 m-t-8" *ngIf="privateDinerForm.submitted&&email.errors?.['required']">
                        Required
                       </div>

<div style="margin:10px 0px 0px 30%">
    <ngb-timepicker [(ngModel)]="privateDiningModel.startTime"
    required
    name="startTime"
    #startTime="ngModel"
    autocomplete="off"
    
    ></ngb-timepicker>
    <div class="text-danger f-12 m-t-8" *ngIf="privateDinerForm.submitted&&startTime.errors?.['required']">
     Required
    </div> 
</div>
              
                     
                <!-- <input [(ngModel)]="privateDiningModel.startTime" 
                required
                name="startTime"
                #startTime="ngModel"
                autocomplete="off"
                class="form-control" type="text">
                <div class="text-danger f-12 m-t-8" *ngIf="privateDinerForm.submitted&&startTime.errors?.['required']">
                    Required
                   </div> -->
                
                    </div>
                </div>


                
                <select style="cursor:pointer"  [(ngModel)]="privateDiningModel.eventType" 
                         name="eventType"
                         #eventType="ngModel"
                         class="form-control"
                         >
                    <option  *ngFor="let event of (eventTypes$|async)" [value]="event.eventType">
                          {{event.eventType}}
                    </option>

                </select>
            
                <div *ngIf="privateDinerForm.submitted">
                 <div class="text-danger f-12 m-t-8" *ngIf="numberOfPeople.errors?.['required']">
                     Required
                    </div>
                </div>
            
                <input [(ngModel)]="privateDiningModel.numberOfPeople" 
                       required
                       pattern="[0-9]*"
                       name="numberOfPeople"
                       #numberOfPeople="ngModel"
                       placeholder="Number Of People"
                       autocomplete="off"
                       class="form-control" type="text"
                       >
                       <div *ngIf="privateDinerForm.submitted">
                        <div class="text-danger f-12 m-t-8" *ngIf="numberOfPeople.errors?.['required']">
                            Required
                           </div>
                        <div class="text-danger f-12 m-t-8" *ngIf="numberOfPeople.errors?.['pattern']">
                            Wrong format
                           </div>
                       </div>
                

                <textarea [(ngModel)]="privateDiningModel.additionalInfo"
                          name="additionalInfo"
                          #additionalInfo="ngModel"
                          id="" cols="30" rows="5"
                          autocomplete="off"
                          placeholder="Aditional information..."
                          >
                </textarea>
                <div>
                    <button type="submit" class="sendBtn" mat-raised-button color="primary">Send</button>
                </div>

            </form>
        </div>



    </div>
</div>


