$goldColor: rgb(171, 155, 86);
$whiteColor: white;
$borderRadius: 5px;

@mixin  absoluteSizes(){
    width:100%;
    height:100%;
}
@mixin centerElement {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

//Header
@mixin navTitle {
    background-color: $goldColor;
    color: $whiteColor;
    padding: 5px;
    text-align: center;
}

@mixin navbarInner {
    position: sticky;
    top: 0;

    .nav-inner {
        display: flex;
    }
}

@mixin navbarLogo {
    height: 100px;
    width: 200px;

    img {
       @include absoluteSizes;
        cursor: pointer;
        object-fit: cover;
    }
}

@mixin routerLinks {
    margin-left: auto;
    order: 2;
    padding: 30px;

    .cart {
        cursor: pointer;
        margin: 0px 20px 0px 0px
    }

    .admin-icon {
        cursor: pointer;
        margin-right: 20px;
    }
}

//footer
@mixin footerContent {
    width: 100%;
    height: 320px;
    background-color: $goldColor;
}

@mixin footerTitle {
    font-size: 2rem;
    text-align: center;
    padding: 50px;
}

@mixin footerWelcomeTitle {
    text-align: center;
    color: rgb(96, 95, 95);
}

@mixin footerInner {
    position: absolute;
    text-align: center;
    bottom: -320px;
    width: 100%;
    padding: 5px;
    border-top: 0.5px solid rgb(232, 232, 232);
}

@mixin copyRights {
    color: $whiteColor
}

@mixin footerBtns {
    width: 100%;
    display: flex;
    justify-content: center;
}

//admin panel styles:
//admin-reservation
//admin-event
//online-order
//admin-contact
@mixin adminList($PinfoWidth,$EinfoWidth) {
   @include absoluteSizes;

    .admin-flex {
        display: flex;
        width: 100%;

    }

    .admin-inner {
        width: 70%;
        .list-title {
            padding: 5px;
        }

        .admin-list-content {
            width: 100%;
            .admin-list-inner {
                display: flex;
                background-color: $whiteColor;
                padding: 10px;
                margin-top: 10px;
                border-radius: $borderRadius;
                width: 100%;

                .personal-info {
                    width: $PinfoWidth;
                }

                .event-Info {
                    width: $EinfoWidth;
                    div{
                    img{
                        height: 100%;
                            width: 25%;
                            object-fit: cover;
                            border-radius: 5px;
                    }
                    }
                }
            }
        }


    }

 
};

@mixin admin-form {
    background-color: $whiteColor;
    border-radius: $borderRadius;
    text-align: center;
    width: 20%;
    position: sticky;
    top: 0px;
    margin: 10px 0px 0px 20px;
}

@mixin adminListCancelIcons {
    float: right;
    cursor: pointer;
    opacity: 0.8;
};

@function marginTop($size) {
    @return $size
};

//cart styles
@mixin cart {
   @include absoluteSizes;
    .admin-inner{
        display: flex;
        width: 100%;
        .cart-inner{
            overflow: auto;
            width: 70%;
            .list-title{
                padding: 10px;
            }
            div{
                .list-inner {
                    display: flex;
                    background-color: $whiteColor;
                    border-radius: $borderRadius;
                    padding: 10px;
                    margin-top: 10px;
                    .employee-Info{
                        .employee-image{
                            width: 100px;
                            height: 100px;
                            img{
                                @include absoluteSizes;
                                object-fit: cover;
                            }
                        }
                    }
                    .employee-personal-info{
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
};


//Home-component
@mixin homeBoxParent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 300px;
    object-fit: $borderRadius;
    padding: 40px;
};

@mixin homeBox($background:backImage,$borderRadius:borderRad,$backgrountColor:backColor) {
    background: $background;
    background-color:$backgrountColor ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius:$borderRadius;
    width: 50%;
    border: 10px solid rgb(215, 215, 88);
};






