$goldColor: rgb(171, 155, 86);
$whiteColor: white;
$borderRadius: 5px;

//Header
@mixin navTitle {
    background-color: $goldColor;
    color: $whiteColor;
    padding: 5px;
    text-align: center;
}

@mixin navbarInner {
    position: sticky;
    top: 0;

    .nav-inner {
        display: flex;
    }
}

@mixin navbarLogo {
    height: 100px;
    width: 200px;

    img {
        height: 100%;
        width: 100%;
        cursor: pointer;
        object-fit: cover;
    }
}

@mixin routerLinks {
    margin-left: auto;
    order: 2;
    padding: 30px;

    .cart {
        cursor: pointer;
        margin: 0px 20px 0px 0px
    }

    .admin-icon {
        cursor: pointer;
        margin-right: 20px;
    }
}

//footer
@mixin footerContent {
    width: 100%;
    height: 400px;
    background-color: $goldColor;
}

@mixin footerTitle {
    font-size: 3rem;
    text-align: center;
    padding: 50px;
}

@mixin footerWelcomeTitle {
    text-align: center;
    color: rgb(96, 95, 95);
}

@mixin footerInner {
    position: absolute;
    text-align: center;
    bottom: -400px;
    width: 100%;
    padding: 5px;
    border-top: 0.5px solid rgb(232, 232, 232);
}

@mixin copyRights {
    color: $whiteColor
}

@mixin footerBtns {
    width: 100%;
    display: flex;
    justify-content: center;
}

//admin list
@mixin adminList($PinfoWidth,$EinfoWidth) {
    width: 100%;
    height: 100%;

    .admin-flex {
        display: flex;
        width: 100%;

    }

    .admin-inner {
        width: 70%;

        .list-title {
            padding: 5px;
        }

        .admin-list-content {
            width: 100%;

            .admin-list-inner {
                display: flex;
                background-color: $whiteColor;
                padding: 10px;
                margin-top: 10px;
                border-radius: $borderRadius;

                .admin-list-inner {
                    width: 100%;
                }

                .personal-info {
                    width: $PinfoWidth;
                }

                .event-Info {
                    width: $EinfoWidth
                }
            }
        }


    }

    .add-dining-date-inner {
        background-color: $whiteColor;
        border-radius: $borderRadius;
        text-align: center;
        width: 20%;
        position: sticky;
        top: 0px;
        margin: 10px 0px 0px 20px;
    }
}

@mixin adminListCancelIcons {
    float: right;
    cursor: pointer;
    opacity: 0.8;
}

@function marginTop($size) {
    @return $size
}