.admin-event-content {
    width: 100%;
    height: 100%;
    
}
.admin-event-inner{
    display: flex;
    width: 100%;
}

.dining-list-inner {
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.dining-inner{
    overflow: auto;
    width: 75%;
}

/* .dining-list {
    width: 100%;
} */

.customerInfo{
    width: 40%;
}
.eventInfo{
    width: 60%;

}


.add-dining-date-inner{
    background-color: white;
    text-align: center;
    width: 20%;
    position: sticky;
    top: 0px;
    height: 250px;
    margin-left: 20px;
    border-radius: 5px;
}

.form-control,.addEventBtn{
    margin-top: 10px;
}
